* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #ffffff;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

/* 1.aを使いたい為のh1だからh1に書くのではなくaに書く？　
　　 ⇒aにスタイルを書き、見出し構造はh１で保つ
　　 2.aの共通部分と各独立部分　or　各独立部分　
　　　　⇒各独立部分のほうが左右違った時対応しやすそう　保守性、メンテナンス性◎
　　  3.homeとmenu同じサイズと色なのに表示が違うのなぜ？
　　　　⇒
 */
.home {
  font-size: 34px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 0 20px;
}

.menu {
  list-style: none ;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

/* padding-leftがあるとないで何が違う
   ⇒リストマーカーの余白分の調整
   ⇒margin,padding 0 でレスポンシブ対応　
*/

.menu-in {
  font-size: 34px;
  color: black;
  text-decoration: none;
}

.section-title {
  font-size: 34px;
  text-align: center;
  padding: 60px 0 40px;
}

h3 {
  font-size: 24px;
}

li, p {
  font-size: 18px;
}

img { 
  width: 100%;
  height: auto;
}

.maru {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 0 auto;
}

.about-inner{
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 10px;
  max-width: 960px;
}

.content{
  margin: auto;
}

ul {
  margin: 18px 0;
  padding-left: 40px;
}

.works-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
}

.item {
  width: 25%;
  padding: 10px;
  padding-bottom: 60px;
  text-align: center;
}

footer p {
  text-align: center;
  padding:20px 0;
}

@media (max-width:767px) {
 
.home, .section-title {
  font-size: 28px;
}

.menu-in {
  font-size: 21px;
}

h3 {
  font-size: 24px;
}

li, p {
  font-size: 18px;
}

.menu {
  gap: 10px;
}

.about-inner, .works-inner {
  flex-direction: column;
}

.item {
  width: 100%;
}
}